<h2>My Account</h2>

<h2>Menu</h2>
<ul>
    <li><a href = "{{url_for('home')}}">Home</a></li>
    <li><a href = "{{url_for('events')}}">Events</a></li>
    {% if current_user.is_authenticated %}
        <li><a href = "{{url_for('account')}}">Account</a></li>
        <li><a href = "{{url_for('logout')}}">Logout</a></li>
    {% else %}
        <li><a href = "{{ url_for_security('login') }}">Login</a></li>
    {% endif %}
</ul>
 
<h3>Hi {{ current_user.first_name + ' ' +  current_user.second_name }}</h3>
<div>
    <h2>Profile</h2>
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}
    <p>{{ value }}</p>
    <form method="POST" action="">
        {{ form.csrf_token() }}
        <div>
            {{ form.first_name.label }}
            {{ form.first_name() }}
        </div>
        <div>
            {{ form.second_name.label }}
            {{ form.second_name() }}
        </div>
        <div>
            {{ form.short_name.label }}
            {{ form.short_name() }}
        </div>
        <div>
            {{ form.steam_id.label }}
            {{ form.steam_id() }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>

<h2>Registered Races</h2>
<ul>
    {% for event_registration in event_registrations %}
        <li><a href="{{ url_for('view_event', id=event_registration.event_br.id) }}">{{event_registration.event_br.server_name}}</a></li>
    {%endfor%}
</ul>