<h2>View EventPage</h2>

<p>
    NOT LOGGED IN
    {{ event.id }}
    {{ event.server_name }}
</p>
{% if event_registrations is not none and event_registrations[0] is defined %}
    <p>
        {% for event_registration in event_registrations %}
            {{event_registration.event_br.id}}
            {{event_registration.event_br.server_name}}
            {{event_registration.user_br.first_name}}
            {{event_registration.user_br.second_name}}
            {{event_registration.user_br.steam_id}}
        {%endfor%}
    </p>
{% else %}
    <p>
        No users registered for session
    </p>
{% endif %}
